* {
    margin: 0%;
    padding: 0%;
}
:root{
    --a:0;
    --b:0px;
}
body {
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%vw;
    height: 40px;
    font-size: 17px;
    background-color: black;
}

.leftNav {
    display: flex;
}

.leftNav img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

/* search box */

.search-box {
    background: #121212;
    width: 400px;
    height: 48px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box:hover{
    border:1px solid rgb(234, 232, 229);
    background: #313131;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 10px;
}

.storage-icon {
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

.divider {
    width: 1px;
    height: 60%;
    background: #ffffff;
    margin: 0 12px;
}

.search-box img {
    width: 30px;
    height: 30px;
}
/* right nav */
.hamm{
    display: flex;
    gap: 5px;
}
.rightNav {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px;
    margin-right: 40px;
    font-weight: bold;
    color: gray;
}
.rightNav p{
    cursor: pointer;
    transition:transform 0.6s ease;
}
.rightNav p:hover{
    color: white;
    transform: scale(1.1);
}

.install {
     transition:transform 1s ease;
    display: flex;
    margin-right: 10px;
    
}
.install:hover{
    transform: scale(1.1);
    color: white;
}
.install img {
    width: 18px;
    height: 18px;
}
.install img:hover{
    filter: invert(1);
}

.divider2 {
    width: 2px;
    height: 25px;
    background: #ffffff;
    margin: 0 12px;
}

.login {
    height: 40px;
    width: 100px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    border-radius: 25px;
    text-align: center;
    border: none;
    transition: transform 0.6s ease;
}
.login:hover{
    transform: scale(1.1);
    background-color: rgb(236, 234, 234);
}
/* body */

.container {
    display: flex;
    width: 100vw;
    gap: 10px;
    margin: 10px;
}

/* left box */
.leftBox {
    background-color: #121212;
    height:90vh;
    width: 28vw;
    border-radius: 8px;
}

.firstLine{
    justify-content: space-between;
    padding: 25px;
    font-size: 20px;
    height: 40px;
}
/* cross */
.firstLine img {
    display: none;
    width: 30px;
    height: 30px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 20px;
    padding: 30px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

.english {
    display: flex;
    height: 25px;
    width: 90px;
    border-radius: 25px;
    border: 1px solid rgb(198, 196, 196);
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 30px;
    transition: transform 0.6s ease;
    cursor: pointer;
}
.english:hover{
    transform: scale(1.1);
    border: 1px solid white;
}

.english img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* right box */

.rightBox {
    background-color: #121212;
    height:90vh;
    width: 70vw;
    border-radius: 8px;
    position: relative;
}

.trending {
    display: flex;
    justify-content: space-between;
    padding: 28px;
}

.heading {
    font-size: 23px;
    font-weight: bold;
}
.showall:hover,
.heading:hover{
    text-decoration: underline;
}
.showall {
    font-size: 15px;
    color: gray;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: 1px;
    height:55vh;
    gap: 20px;
    margin: 10px;
}

.card {
    position: relative;
    width: 150px;
    height: 200px;
    padding: 15px;
    transition: all 1s;
}
.card:hover{
    --a:1;
    --b:50px;
    cursor: pointer;
    background-color: rgb(58, 57, 57);
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.card p {
    font-size: 13px;
    color: gray;
    margin-top: 5px;
}

.card h3 {
    font-size: 20px;
    margin-top: 5px;
}

.play {
    position: absolute;
    bottom: var(--b);
    left: 75%;
    width: 40px;
    height: 40px;
    background-color: #28a745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    opacity: var(--a);
}
.card h3:hover,p:hover{
    text-decoration: underline;
}
/* playbar */
.playBar{
    position: absolute;
    bottom: 8px;
    width:68vw;
    min-height:80px;
    filter: invert(1);
    background-color:rgb(214 214 214);
    margin: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.playButton img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.playButton{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.forresponsive{
    display: flex;
    width: 60%;
    justify-content:space-between;
}
.seekbar{
    position: absolute;
    width: 98%;
    background-color: black;
    height: 5px;
    bottom: 0;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.aboveSeekbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.songInfo{
    width: 300px;
    height: 40px;
    color: black;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    /* overflow-wrap: break-word;
    word-wrap: break-word; */
}
.vandt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.songTime{
    color: black;
    font-size: 20px;
    width: 100px;
}
.volumeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 10px;
    margin: 10px;
}
.volumeButton input{
    width: 90px;
    height: 4px;
    cursor: pointer;
}
.volumeButton img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    left: 0%;
    bottom: 5px;
    transition: left 0.5s;
}
/* song list left side */
.songList{
  padding: 10px;
  height: 55vh;      /* adjust as needed */
  overflow-y: scroll;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */
}

.songList ul{
    margin-left: 45px;
}

.songList ul li{
    list-style-type: decimal;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
}
/* left box play box */
.playBox{
    display: flex;
    gap: 22px;
    padding: 10px;
    margin-right: 10px;
    align-items: center;
}
.playBox img{
    width: 32px;
    height: 32px;
}
.playNow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 25px;
}
.playNow div{
    width: 50px;
    font-size: 12px;
}
.musicName{
    width: 150px;
    font-size: 15px;
    margin-bottom: 5px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.singerName{
    font-size: 8px;
}
.hammburger{
    display: none;
}
.hammburger2,
.cancel2 {
    width: 30px;
    cursor: pointer;
    display: none;
}
/* left box bottom */
.leftBottom{
    display: flex;
    justify-content: space-between;
}
.myname{
    margin-right: 30px;
    font-size: 12px;
    color: gray;
    display: flex;
    gap: 5px;
}
/* responsive */

@media (max-width:1400px) {
    .nav{
        display: block;
        height: 100px;
    }
    .leftNav,
    .rightNav{
    justify-content: center;
    align-items: center;
    }
    .leftBox{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width:450px;
        background-color: black;
    }

    .rightBox{
        width: 100vw;
    }
    .playBar{
        width: 95vw;
        justify-content: center;
    }
    .hammburger{
        display: block;
        width: 50px;
        height: 50px;
    }
    .firstLine img{
        display: block;
    }
    .rightNav p {
        display: none;
        margin: 10px 0;
    }

    /* Show hamburger only */
    .hammburger2 {
        display: block;
    }

    /* When menu is active (JS adds this class) */
    .rightNav.active p{
        display: block;
    }
    /* Cross show when active */
    .rightNav.active .cancel2 {
        display: block;
    }

    /* Hide hamburger when active */
    .rightNav.active .hammburger2 {
        display: none;
    }
    .divider2{
        display: none;
    }
}

@media (max-width:600px) {
    .nav{
        height: 80px;
    }
    .search-box{width: 150px;
        height: 22px;
    }
    .leftNav img{
        width: 15px;
        height: 15px;
    }
    .search-box img{
        width: 15px;
        width: 15px;
    }
    .rightNav{
        font-size: 12px;
    }
    .login{
        width: 60px;
        height: 20px;
    }

    .card {
       width: 250px;
       height: 300px;
    }
    .card img {
    width: 100%;
    height: 250px;
    }

    .forresponsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .leftBox{
        width: 100%;
        gap: 5px;
    }
    .musicName{
        width: 120px;
    }
}

@media (max-width:400px) {
.playNow{
    flex-direction: column;
    gap: 3px;
    margin-left: 15px;
    }
}